*
{
	margin: 0;
	padding: 0;
}

.slide{
	width:245px;
	height:360px;
}

#rotator
{
	overflow: hidden;
	position: relative;
	width: 245px; /*Aquí puedes editar*/
	height: 360px;
	float:left;
	
}

#rotator img
{
	border: 0;
	width: 245px;
	height: 360px;
}



